<%# [HW] Appends the new comment to the bottom of this photo's comment list %>
<%= turbo_stream.append "feed-comments-#{@photo.id}" do %>
  <%= render "comments/comment", comment: @comment, photo: @photo %>
<% end %>

<%# [HW] Replaces the form with a fresh empty one to clear the input field %>
<%= turbo_stream.replace "comment-form-#{@photo.id}" do %>
  <%= render "comments/form", photo: @photo %>
<% end %>

<%# [HW] Also update the comment count in the hover overlay on the feed grid card %>
<%= turbo_stream.replace "feed-overlay-comments-#{@photo.id}" do %>
  <span id="feed-overlay-comments-<%= @photo.id %>"><i class="fa-solid fa-comment"></i> <%= @photo.comments.size %></span>
<% end %>
