<nav class="bottom-nav">
  <%= link_to root_path, class: "bottom-nav__brand" do %>
    <%= image_tag "cu_logo.png", alt: "Canada Unique" %>
  <% end %>

  <div class="bottom-nav__links">
    <%= link_to root_path, class: "bottom-nav__item" do %>
      <i class="fa fa-home"></i>
      <span>Home</span>
    <% end %>

    <% if user_signed_in? %>
      <%# Profile link updated to point to the profile page. MJR %>
      <%= link_to profile_path, class: "bottom-nav__item" do %>
        <i class="fa fa-user"></i>
        <span>Profile</span>
      <% end %>
      <%= link_to destroy_user_session_path, class: "bottom-nav__item", data: { turbo_method: :delete } do %>
        <i class="fa fa-sign-out"></i>
        <span>Log out</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "bottom-nav__item" do %>
        <i class="fa fa-sign-in"></i>
        <span>Login</span>
      <% end %>
    <% end %>
  </div>
</nav>
