<nav class="bottom-nav">
  <%= link_to root_path, class: "bottom-nav__brand" do %>
    <%= image_tag "cu_logo.png", alt: "Canada Unique" %>
  <% end %>

  <div class="bottom-nav__center">
    <%= button_to chats_path, method: :post, class: "bottom-nav__chat-btn", form_class: "bottom-nav__chat-form" do %>
      <div class="bottom-nav__chat-bubble">
        <%= image_tag "chatbot_avatar_1.png", alt: "Chat", class: "bottom-nav__chat-avatar" %>
      </div>
    <% end %>
  </div>

  <div class="bottom-nav__links">
    <% if user_signed_in? %>
      <%= link_to profile_path, class: "bottom-nav__item" do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "bottom-nav__user-avatar" %>
        <% else %>
          <i class="fa fa-user"></i>
          <span>Profile</span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "bottom-nav__item" do %>
        <i class="fa fa-sign-in"></i>
        <span>Login</span>
      <% end %>
    <% end %>
  </div>
</nav>
