<div class="home-header">
  <%= image_tag "cu_logo.png", alt: "Canada Unique", class: "home-header__logo" %>
  <% if user_signed_in? %>
    <p class="home-header__welcome">Welcome back,<br><span><%= current_user.display_name %></span></p>
  <% end %>
</div>

<div class="flex-container">
  <%= link_to pre_canada_path do %>
  <div class="card flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'pre_canada_image.jpg' %>);">
    <div class="font-homepage">
      <h1>Get ready!</h1>
    </div>
  </div>
  <% end %>
  <br>
  <%= link_to in_canada_path do %>
  <div class="card flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'in_canada_image.jpg' %>);">
    <div class="font-homepage">
      <h1>Canada Moments</h1>
    </div>
  </div>
  <% end  %>
  <br>
  <%= link_to post_canada_path do %>
  <div class="card flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'post_canada_image.jpg' %>);">
    <div class="font-homepage">
      <h1>Welcome back</h1>
    </div>
  </div>
  <% end  %>
</div>
