<!DOCTYPE html>
<html>
  <head>
    <title> "Canada Unique - Your exchange year in Canada" </title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%# Open Graph meta tags for social sharing %>
    <meta property="og:title" content="Canada Unique - Your exchange year in Canada">
    <meta property="og:description" content="Connect with fellow exchange students, share your Canadian adventure, and reflect on your journey.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cuapp.live">
    <meta property="og:image" content="<%= image_url('canada_unique_logo2.png') %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Canada Unique">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
